<div class="center-align">
<% if user_signed_in? %>
	<p><%= link_to '<i class="material-icons">add</i>'.html_safe, new_post_path, class: 'btn-floating btn-large waves-effect waves-light red' %> </p>
<% end %>
</div>

<div class="row">
	<% @posts.each do |p| %>
    <div class="col s12 m3">
     
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="<%= p.picture %>">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= p.title %><i class="material-icons right">more_vert</i></span>
      <p><%= p.user.email %></p>
      <%= link_to 'Visit', p %>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= p.title %><i class="material-icons right">close</i></span>
      <p><%= p.description %></p>
      <%= link_to 'Visit', p %>
    </div>
  </div>
            
    </div>
	<% end %>
</div>


